
.Home > .b1{
  font-family: Montserrat;
  margin-left: 15px;
  font-weight: 1000;
  font-size: 50px;
  padding-bottom: 30px;
  padding-top: 10px;
}

.Home > .b2{
  font-family: Montserrat;
  margin-left: 15px;
  font-weight: 1000;
  font-size: 30px;
  padding-bottom: 30px;
  padding-top: 100px;
}
